font-size = 14
font-thicken = true
font-thicken-strength = 0
font-family = Liga SFMono Nerd Font
adjust-cell-height = 5%

background-opacity = 0.95
background-blur-radius = 10
theme = light:Flexoki Light,dark:Flexoki Dark

keybind = global:ctrl+grave_accent=toggle_quick_terminal
quick-terminal-size = 50%

notify-on-command-finish = unfocused
shell-integration-features = ssh-env,no-cursor
cursor-style = block
scrollback-limit = 10000
window-save-state = always
macos-titlebar-style = tabs
copy-on-select = false
macos-icon = retro
